### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
#PLEASE NOTE: CONCLUSION IS AT THE VERY END 

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
heroes_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(heroes_file)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#SN is the player ID, so by counting the SN in the data frame we will figue out how many players there are


duplicate_df = purchase_df.drop_duplicates(subset=['SN'])

total_players = duplicate_df["SN"].count()
total_players

576

In [3]:
unique = len(purchase_df['SN'].unique())
unique

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Using the unique function, we find the unique items and then find the length of this to figure out the numeric value of how many unique items there are
unique_items = len(purchase_df['Item Name'].unique())

# We want to find number of purchases

total_purchase = len(purchase_df['Purchase ID'])

# We want to find total revenue

total_price = purchase_df['Price'].sum()
total_price

# we want to find average price (since we have found how many purchases, and total price we just have to divide the two to find the average )

average_price = total_price/total_purchase
average_price = average_price.round(decimals=2)
average_price

# display in a summary data frame (need to figure out how to put dollar signs)

summary_purchase = pd.DataFrame({"Number of Unique Items": [unique_items],
                                 "Average Price": [average_price],
                                 "Number of Purchases": [total_purchase],
                                 "Total Revenue": [total_price]})

summary_purchase

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:

# drop any duplicate players in SN so we do not double count gender as 

duplicate_df = purchase_df.drop_duplicates(subset=['SN'])

# First we create a dataframe which only isolates the gender column of the original data and to receive a count of each gender

gender_demo_df = pd.DataFrame(duplicate_df['Gender'].value_counts())

#we then establish the number of gender data there are

total_gender = len(purchase_df["Gender"])

# after using the gender dataframe, we divide each value count by the total number and multiple it by 100 to give the percent amount,after we attach it to our gender dataframe and then make sure it is rounded properly

percent_gender = (purchase_df['Gender'].value_counts()/total_gender)*100

gender_demo_df["percent_gender"] = percent_gender

gender_demo_df["percent_gender"] = gender_demo_df["percent_gender"].map("{:,.2f}%".format)

#we then change the header names to match what was asked. 

gender_demo_df = gender_demo_df.rename(columns={"Gender": "Total Count",
                                   "percent_gender": "Percentage of Players"})

gender_demo_df = gender_demo_df.reindex(['Female', 'Male', 'Other / Non-Disclosed'])

gender_demo_df

                       Total Count Percentage of Players
Female                          81                14.49%
Male                           484                83.59%
Other / Non-Disclosed           11                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# first we group the original data frame by gender as this is what it is asking

gender_purchase_df = purchase_df.groupby("Gender")

# we need this for when we calculate average total purchase per person because  gendr_purchase_df contains double ups of players when we want to find gender average we only want to count the player once. 

duplicate_df_2 = duplicate_df.groupby("Gender")

#once that is done we need to get the sum of the prices and the average purchase price 

total_gen_purchase = gender_purchase_df["Price"].sum()
average_purchase = gender_purchase_df['Price'].mean()

# average total purchase per gender group, we use the total purchase by gender and then divide the amount of people in that gender group
average_gen_purchase = total_gen_purchase/duplicate_df_2["Purchase ID"].count()
average_gen_purchase

# we then create a dataframe which is based off the count of purchase ID from the gender_purchase_df dataframe and then we can attach our additional data list into it 

purchase_analysis_df = pd.DataFrame(gender_purchase_df["Purchase ID"].count())
purchase_analysis_df["Average Purchase Price"] = average_purchase
purchase_analysis_df["Total Purchase Price"] = total_gen_purchase
purchase_analysis_df["Average Total Purchase per Person"] = average_gen_purchase
purchase_analysis_df = purchase_analysis_df.rename(columns={"Purchase ID": "Purchase Count"})

# Summary Table for age purchase data 

purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# establish bins of age

age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# use pd cut to segment and sort data into designated bins with the designated group names
# i am using the data frame where i dropped SN duplicates so we don't double count an individual

age_group_df = duplicate_df
age_group_df["Age Summary"] = pd.cut(age_group_df["Age"],age_bins, labels=group_names)
age_group_df

#calculate number and percentages by age group

age_group_df = age_group_df.groupby("Age Summary")
age_group_df.count()

new_group_df = pd.DataFrame(age_group_df.count())
new_group_df 

#change the purchase ID column so that it shows percentage total instead

new_group_df["Purchase ID"] = (new_group_df["Purchase ID"]/total_players)*100

new_group_df["Purchase ID"] = new_group_df["Purchase ID"].map("{:,.2f}%".format)
new_group_df

# drop the unecessary columns and create summary data frame to hold results 

new_group_df = new_group_df[["Purchase ID", "SN"]]
new_group_df 

# rename column names 

new_group_df = new_group_df.rename(columns={"Purchase ID": "Percentage of Players",
                                            "SN": "Total Count"})
new_group_df

<ipython-input-7-cce23506c5b4>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_group_df["Age Summary"] = pd.cut(age_group_df["Age"],age_bins, labels=group_names)

            Percentage of Players  Total Count
Age Summary
<10                         2.95%           17
10-14                       3.82%           22
15-19                      18.58%          107
20-24                      44.79%          258
25-29                      13.37%           77
30-34                       9.03%           52
35-39                       5.38%           31
40+                         2.08%           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_group_df = purchase_df
age_group_df["Age Summary"] = pd.cut(age_group_df["Age"],age_bins, labels=group_names)
age_group_df

#calculate number and percentages by age group

age_group_df = age_group_df.groupby("Age Summary")
age_group_df.count()

# Create a new dataframe based off the count of purchase ID in that age_group_df dataframe so we can amend our new calcualted data into it later for simplicity
analysis_by_age_df = pd.DataFrame(age_group_df["Purchase ID"].count())
analysis_by_age_df

# Get Total purchase value by age
total_purchase_age = age_group_df["Price"].sum()

# Get Average purchase price by age
avg_purchase_price = age_group_df["Price"].mean()

# Get Average total purchase per person  
ave_purchase = total_purchase_age/age_group_df["Purchase ID"].count()

# reformat the data after because for some reason if i do it right after it gives an error 

ave_purchase = ave_purchase.map("${:,.2f}".format)
avg_purchase_price = avg_purchase_price.map("${:,.2f}".format)
total_purchase_age = total_purchase_age.map("${:,.2f}".format)

# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
analysis_by_age_df["Average Purchase Price"] = avg_purchase_price
analysis_by_age_df["Total Purchase Value"] = total_purchase_age
analysis_by_age_df["Avg Total Purchase per Person"] = ave_purchase
analysis_by_age_df

# Summary purchasing analysis DF grouped by age

analysis_by_age_df = analysis_by_age_df.rename(columns={"Purchase ID":"Purchase Count"})
analysis_by_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# work with original dataset where there are duplicates since we are now focusing on SN

#group by the players and formulate a new data frame 

sn_df = purchase_df.groupby("SN")
analysis_sn_df = pd.DataFrame(sn_df["Purchase ID"].count())
analysis_sn_df

#total purchase price by SN 

total_sn = sn_df["Price"].sum()

#average price by SN

avg_sn = sn_df["Price"].mean()


#total_sn = total_sn.map("${:,.2f}".format) i could not get this to work, if i uncomment this my total purchase price captured is 9.50 which is incorrect

avg_sn = avg_sn.map("${:,.2f}".format)

# sort the table out 

analysis_sn_df["Average Purchase Price"] = avg_sn
analysis_sn_df["Total Purchase Price"] = total_sn
analysis_sn_df

# Summaries the top spendors

analysis_sn_df = analysis_sn_df.rename(columns={"Purchase ID": "Purchase Count"})
analysis_sn_df = analysis_sn_df.sort_values("Total Purchase Price", ascending = False)
analysis_sn_df

             Purchase Count Average Purchase Price  Total Purchase Price
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10
...                     ...                    ...                   ...
Ililsasya43               1                  $1.02                  1.02
Irilis75                  1                  $1.02                  1.02
Aidai61                   1                  $1.01                  1.01
Chanirra79                1                  $1.01                  1.01
Alo38                     1                  $1.00                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
# sort data frame by items (id and name)

item_df = purchase_df.groupby(["Item ID", "Item Name"])

# total purchase

total_item = item_df["Price"].sum()
total_item = total_item.map("${:,.2f}".format)

# purchase price by item 

item_price = item_df["Price"].mean()
item_price  = item_price.map("${:,.2f}".format)

# sorting out the summary table 

item_analysis_df = pd.DataFrame(item_df["Purchase ID"].count())
item_analysis_df["Item Price"] = item_price 
item_analysis_df["Total Purchase Value"] = total_item 

item_analysis_df = item_analysis_df.rename(columns={"Purchase ID": "Purchase Count"})

item_analysis_df = item_analysis_df.sort_values("Purchase Count", ascending=False)
item_analysis_df = item_analysis_df
item_analysis_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
# Sort out the table above but by total purchase value 

item_analysis_df["Total Purchase Value"] = item_df["Price"].sum()
item_analysis_df

item_analysis_df = item_analysis_df.sort_values("Total Purchase Value", ascending=False)
item_analysis_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,2.12
126,Exiled Mithril Longsword,1,$2.00,2.00
125,Whistling Mithril Warblade,2,$1.00,2.00
104,Gladiator's Glaive,1,$1.93,1.93
42,The Decapitator,1,$1.75,1.75

In [ ]:
# CONCLUSION ON TREND 


# Observing the data set there are a total of 576 players in this game
# Out of the 576, 83.6% are male while 14.29% are female with the rmaining 1.92% non-disclosing their gender. 
# This leads us to conclude that this game is predominantly played by male individuals. 

# In terms of age, majority of players (44.79%) are in the 20-24 age group while the 40+ age group had the lease amount of players (2.08%) 

# Lastly, the most popular item in the game is the Final Critic (Item ID92) which has the highest purchase count of 13 and a total purchase value of $59.99. It is also the most profitable item